/* src/components/InputSection.css */

.input-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    margin-right: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Spacing between each input-label pair */
}

/* Style for labels to ensure they align properly with their input/dropdown */
.input-label {
    white-space: nowrap;
    margin-right: 10px;
    font-weight: bold;
}

/* Unified style for input fields and dropdowns to match button height but half its length */
.input-field, .input-section select {
    height: 40px;
    padding: 10px 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    font-size: 1rem;
    width: 50%;
    font-weight: bold;
}

.threshold-container {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 50%;
}

.threshold-field {
    flex: 1;
    height: 40px;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: bold;
}

/* Ensure this class targets only the direct children (fields) of .threshold-container */
.input-container > .threshold-container > .threshold-field {
    width: calc(25% - 5px); /* ensure this makes each about 1/4 the length of a button */
}

.input-section .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-section .header .title {
    margin: 0; /* Remove margin from h2 */
}

.input-section .mode-switch {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons as needed */
}

.input-section .mode-switch button {
    padding: 5px 10px; /* Smaller padding */
    font-size: 0.8rem; /* Smaller font size */
    margin: 0;
    border: 1px solid #007bff;
    background-color: #fff;
    color: #007bff;
    font-weight: bold;
}

.input-section .mode-switch button.active {
    background-color: #007bff;
    color: #fff;
}

.input-section button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin-right: -10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}


.input-section button:hover {
    background-color: #0056b3;
}

.input-section button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* .masksearch-switch {
    position: relative;
    display: flex;
    align-items: center;
    width: 60px;
    height: 34px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0px;
}

.masksearch-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: all 0.3s ease-in 0s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 34px;
    width: 34px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #007bff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider {
    border-radius: 34px;
}

.slider:before {
    border-radius: 50%;
}

.slider:before {
    content: "MS";
    color: #fff;
}

.slider:after {
    content: "NP";
    color: #fff;
    text-align: right;
} */

.masksearch-container {
    text-align: center;
}

.masksearch-switch {
    position: relative;
    width: 75px;
    display: inline-block;
    text-align: left;
    top: 0px;
}

.checkbox {
    display: none;
}

.label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    /* border-radius: 28px; */
}

.inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.inner:before, .inner:after {
    float: left;
    width: 50%;
    height: 28px;
    padding: 0;
    line-height: 28px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}

.inner:before {
    content: "MS";
    padding-left: 10px;
    background-color: #007bff;
    color: #fff;
}

.inner:after {
    content: "NP";
    padding-right: 10px;
    background-color: #bbb;
    color: #fff;
    text-align: right;
}

.switch {
    display: block;
    width: 28px;
    margin: 0px;
    background: #fff;
    position: relative;
    top: -35px;
    bottom: 0;
    right: 48px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.checkbox:checked + .label .inner {
    margin-left: 0;
}

.checkbox:checked + .label .switch {
    right: 0px;
}

/* Specific container for augment buttons */
.halfsize-buttons {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.start-halfsize-btn, .appending-halfsize-btn {
    flex: none;
    width: calc(50% - 5px);
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Adjust the disabled state as before */
.input-section button:disabled, .appending-halfsize-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Style for hover state */
.input-section button:hover, .start-halfsize-btn:hover {
    background-color: #0056b3;
}

/* Style for 'Show Path' button when it is active */
.appending-halfsize-btn:enabled {
    background-color: #007bff;
    cursor: pointer;
}
